################################################################################
# 此 .gitignore 文件已由 Microsoft(R) Visual Studio 自动创建。
################################################################################

/vsP_dataprint/.vs/vsP_dataprint/v17
/vsP_dataprint/x64/Debug
/vsP_count/.vs/vsP_count/v17
/vsP_count/x64/Debug
/vsP_count/.vs/vsP_dataprint/FileContentIndex/
/vsP_dataprint/.vs/vsP_dataprint/FileContentIndex/
/vsP_count/.vs/vsP_count/FileContentIndex/*
/vsP_testmodule/x64/Debug
/vsP_testmodule/.vs/vsP_testmodule/v17
~$*.xlsx
/vsP_testmodule/x64/Release
/vsP_test_xof_inp/.vs/vsP_test_xof_inp/v17
/vsP_test_xof_inp/x64/Release
