################################################################################
# 此 .gitignore 文件已由 Microsoft(R) Visual Studio 自动创建。
################################################################################

/vsP_dataprint/.vs/vsP_dataprint/v17
/vsP_dataprint/x64/Debug
/vsP_count/.vs/vsP_count/v17
/vsP_count/x64/Debug
/vsP_count/.vs/vsP_dataprint/FileContentIndex/
/vsP_dataprint/.vs/vsP_dataprint/FileContentIndex/
/vsP_count/.vs/vsP_count/FileContentIndex/*
